body {
  font-family: "Roboto", sans-serif; }

.btn-primary {
  background-color: #CE0234;
  border-color: #CE0234; }
  .btn-primary:hover {
    background-color: #A6002A;
    border-color: #A6002A; }
  .btn-primary:active {
    background-color: #A6002A;
    border-color: #A6002A;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(206, 2, 53, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(206, 2, 53, 0.25); }
  .btn-primary:focus {
    background-color: #A6002A;
    border-color: #A6002A; }

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #CE0234;
  border-color: #CE0234;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(206, 2, 53, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(206, 2, 53, 0.25); }

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(206, 2, 53, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(206, 2, 53, 0.25); }

.btn-primary.focus, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(206, 2, 53, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(206, 2, 53, 0.25); }

.form-control:focus {
  border-color: #CE0234;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(206, 2, 53, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(206, 2, 53, 0.25); }

.logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 10px; }
  .logo-link .link-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .logo-link .link-logo .logo {
      max-width: 100%;
      height: 80px; }

#form-box {
  border-radius: 4px;
  background-color: #232F3E;
  padding: 14px 18px;
  max-width: 500px;
  margin: 2em auto;
  max-width: 350px;
  width: 95%; }
  #form-box #title-box {
    color: #ffffff;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 10px;
    font-family: "Raleway", sans-serif; }
  #form-box #label-box {
    color: #ffffff;
    padding-left: 2px;
    padding-bottom: 2px;
    font-weight: 400;
    margin-bottom: .0rem;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.5px;
    font-size: 13px; }
  #form-box #alert-box {
    color: #DBDBDB;
    margin-bottom: .5rem;
    text-align: left;
    font-size: 12px;
    line-height: 15px; }
  #form-box #legal-box {
    font-size: 12px;
    line-height: 1.5;
    margin-top: 13px; }
    #form-box #legal-box .filer-phrase {
      color: #ffffff; }
    #form-box #legal-box .red-link {
      color: #CE0234; }
      #form-box #legal-box .red-link:hover {
        color: #CE0234;
        text-decoration: underline; }
  #form-box .forgot-password {
    color: #CE0234;
    font-size: 13px; }
    #form-box .forgot-password:hover {
      color: #CE0234;
      text-decoration: underline; }

.spacer {
  margin-top: 20px;
  margin-bottom: 20px; }

.already-reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }
  .already-reg .new .new-catch {
    color: #555;
    font-size: 13px;
    font-weight: 600;
    font-family: "Raleway", sans-serif; }
  .already-reg .reg {
    -ms-flex-item-align: center;
    align-self: center;
    text-decoration: none;
    color: #232F3E;
    -webkit-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    font-size: 24px; }
    .already-reg .reg:hover {
      color: #CE0234;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
