{% trans_default_domain 'FOSUserBundle' %}

<div id="wrapper">
    <div id="container">
        <h5 style="font-size: 16px;" class="form-signin-heading">Éditer son profil</h5>

        {{ form_start(form, {
        	'action': path('fos_user_profile_edit'),
        	'attr': {'class': 'fos_user_profile_edit'}
        }) }}
            {{ form_widget(form) }}

            <div>
                <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
            </div>
        {{ form_end(form) }}
    </div>
</div>
