{% trans_default_domain 'FOSUserBundle' %}

<div id="wrapper">
  <div id="container">
    <div class="fos_user_user_show">
      <p style="font-size= 15px;">
        <em>{{ 'profile.show.username'|trans }}:</em>
        {{ user.username }}
      </p>
      
      <p style="font-size= 15px;">
        <em>{{ 'profile.show.email'|trans }}:</em>
        {{ user.email }}
      </p>
    </div>
  </div>
</div>