{% extends 'layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
	<div id="wrapper">
	    <div id="container">
		    <p class="lead text-center">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>

		    {# {% if targetUrl %}
		    	<p style="font-size= 15px;">
		    		<a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a>
		    	</p>
		    {% endif %} #}
	    </div>
	</div>
{% endblock body %}
