<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}High-Tech{% endblock %}</title>

    <!-- CSS -->
    {# <link rel="stylesheet" href="{{ asset('css/style.css') }}" /> #}

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com/%22%3E" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous" />

    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" rel="stylesheet" />

    {% block stylesheets %}
    {% endblock %}

    <style>
        body { 
            font-family: 'Raleway', sans-serif; 
            background: #dbdfeb;
            /* fallback for old browsers /
            background: -webkit-linear-gradient(to right, #E2E2E2, #dbdfeb);  / Chrome 10-25, Safari 5.1-6 /
            background: linear-gradient(to right, #E2E2E2, #dbdfeb); / W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

        a { color: #0000F0; }

        a:hover { text-decoration: none; }

        #wrapper { background: #f8f9fa; margin: 2em auto; max-width: 500px; width: 95%; }

        #container { padding: 1em; text-align: justify; }
    </style>
    
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body>
{% block body %}
    {% block fos_user_content %}
    {% endblock fos_user_content %}
{% endblock %}

{% block javascripts %}
{% endblock %}
</body>
</html>